<div class="instructions">To help prepare flash cards that fit your specific study needs, pick the style that works best for you!  Each set of cards is formatted to fit the standard Avery business card template.</div>
<div class="downloadInstructions">
Content on this page may require additional software to view.<br/>
If you do not have Adobe&reg; Reader, click <a href="http://get.adobe.com/reader/" class="popup showAll">here</a> to install.
</div>
<ul>
	<li><a href="[%sections.1.url%]" target="_blank">Terms Only</a></li>
	<li><a href="[%sections.2.url%]" target="_blank">Definitions Only</a></li>
	<li><a href="[%sections.3.url%]" target="_blank">Terms with Definitions</a></li>
</ul>
