<div class="txtBoxTop"></div>
<div class="homeLogin">
	<p class="loginWelcome">Welcome to the new 4LTR Press CourseMate Website, designed and built around feedback from students.</p>
    <div class="lowerLogin">
	<p class="instructions">Premium resources ("locked links") are available only for students who have been granted full access to this site. However you can preview all of the resources in the Free Sample Chapter.</p>
	<hr />
<div class="loginBtnSq">Returning Users<br />
<a href="http://www.cengage.com/login" class="loginBtn">Sign In</a></div>
<div class="loginBtnSq">First Time Users<br />
<a href="http://www.cengage.com/login" class="loginBtn">Register</a></div>
<div class="loginBtnSq">Purchase Access<br />
<a class="buy-online loginBtn" href="" target="_blank">Buy Online</a></div>
<div class="loginBtnSq">Instructor Access<br />
<a href="http://login.cengage.com/cb/" class="loginBtn">Request</a></div>
</div></div>
<div class="txtBoxBtm"></div>
