<div id="home" class="login">

<div class="heading">To access this Premium Resource you must log in.<br />
Please select one of the options below:</div>



<div id="entryNav">
<div class="option">Returning users
<div id="button"><a href="http://www.cengage.com/login" class="blue">Sign in</a></div>
</div>

<div class="option">First time users
<div id="button"><a href="http://www.cengage.com/login" class="blue">Register</a></div>
</div>

<div class="option">Purchase access
<div id="button"><a href="http://www.ichapters.com/tl1/en/US/storefront/ichapters?cmd=catAdvancedSearch&&fieldValue=kleiner&fieldName=All&OP=search&sortBy=null&showBrowseAllLink=null&UserPageSize=15" class="blue">Buy online</a></div>
</div>

<div class="option">Instructor access
<div id="buttonInstr"><a href="http://login.cengage.com/sso/usertype.do" class="orange">Request</a></div>
</div>



</div>




</div>
