
<div id="layoutContainer" class="container">
	<!-- Header -->
	<div id="header">
		<div id="logo"> <img src="site_support/images/logo-header.jpg" /> </div>
		<h2> <span id="edition" class="edition">Test, Second Edition</span> <span id="author" class="author">William Jones</span> </h2>
	</div>
	<!-- Blue nav bar for home and support -->
	<div id="support-nav">
		<ul>
			<li class="first"><a href="#home" class="location-id">Home</a></li>
			<li><a href="http://www.cengage.com/support/" target="_blank" title="Technical Support">Technical Support</a></li>
		</ul>
	</div>
	<!-- Main Content Area; defined by blue background -->
	<div id="container-inner">
		<!-- Top Buttons -->
		<div id="nav-bar">
			<!-- Premium Buttons -->
			<div id="nav-left" class="nav-left">
				<div class="inside">
					<ul>
						<li class="premium-button"><span><a href="#ebook" class="popup">eBook<img src="site_support/images/lock.gif" class="lock" /></a></span></li>
						<li class="premium-button"><span><a href="#lecturepoint" class="popup">LecturePoint: U.S. History</a></span></li>
					</ul>
				</div>
			</div>
			<!-- Reference/Tools Bar -->
			<div id="nav-right" class="nav-right">
				<div class="inside">
					<ul id="resource">
						<li class="resource-popup first"><a href="../coming_soon.html" class="popup">Special Tutor</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Page -->
		<div id="content">
			<!-- Chapter Menu Button -->
			<div id="chapterselect"><img src="site_support/images/button-chapter.gif" alt="Select Chapter" /> </div>
			<!-- Book cover or Left Side Menu -->
			<div id="left-side">
				<!-- Book Cover -->
				<div id="book"> <img src="site_support/images/book-cover.gif" alt="Book Cover" /> </div>
				<!-- Side Menu -->
				<ul id="side-menu">
					<li class="top-level"> <a href="#review" class="main-option">Review & Practice</a>
						<ul class="inner-menu">
							<li><span><a href="#questions">Focus Questions</a></span></li>
							<li><span><a href="#activities">Primary Source Activities</a></span></li>
						</ul>
					</li>
					<li class="top-level"> <a href="#test_prep" class="main-option">Test Prep</a>
						<ul class="inner-menu">
							<li><span><a href="#chapter_glossary">Chapter Glossary</a></span></li>
							<li><span><a href="#ace">ACE Practice Tests</a></span></li>
							<li><span><a href="#objectives">Learning Objectives</a></span></li>
						</ul>
					</li>
					<li class="top-level"> <a href="#exploration" class="main-option">Exploration</a>
						<ul class="inner-menu">
							<li><span><a href="#links">Web Links</a></span></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- Home Page -->
			<div id="home-page" class="main">
				<div id="welcome" class="wide-welcome">
					<div id="asset-buttons">
						<ul>
							<li class="asset-info review"> <img src="site_support/images/button_review.gif" alt="Review & Practice" /> <span><a href="#review/1" title="Review & Practice">Review & Practice</a></span>
								<div class="popupdiv">
									<div class="shapediv" id="review-popup"></div>
								</div>
							</li>
							<li class="asset-info test_prep"> <img src="site_support/images/button_test_prep.gif" alt="Test Prep" /> <span><a href="#test_prep/1" title="Test Prep">Test Prep</a></span>
								<div class="popupdiv">
									<div class="shapediv" id="test-prep-popup"></div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div id="marketing"> </div>
			</div>
			<!-- Content Page (Bucket or Asest) -->
			<div id="content-page" class="main">
				<!-- Title -->
				<div id="content-heading">
					<div id="chapter-heading">
						<div class="chapter-number">Chapter N</div>
						<div class="separator">&#8226;</div>
						<div class="chapter-title">Chapter Title</div>
					</div>
					<div id="asset-title">Bucket Title</div>
				</div>
				<!-- Bucket Content -->
				<div id="bucket-content">
					<div class="bucket-description">
						<div id="bucket-image"><img src="bucket_name.jpg" alt="Bucket Name" /></div>
						<div id="bucket-blurb">Bucket blurb.</div>
					</div>
					<div id="asset-list"> </div>
				</div>
				<!-- Asset Content -->
				<div id="asset-content">
					<div id="asset-blurb">Blurb for asset goes here</div>
					<div id="asset-text" class="asset-content"> </div>
				</div>
			</div>
			<div id="content-error" class="main"> </div>
		</div>
	</div>
	<!-- Footer -->
	<div id="footer">
		<p><span class="cengage"><a href="http://www.cengage.com/" target="_blank">Cengage Learning</a></span> - </p>
		<ul>
			<li class="first"><a href="http://elt.heinle.com/" target="_blank"> English Language Teaching</a></li>
			<li><a href="http://www.cengage.com/country/" target="_blank">Global</a><a href="http://course.cengage.com" target="_blank"></a></li>
			<li><a href="http://www.cengage.com/highered" target="_blank"> Higher Education</a></li>
			<li><a href="http://www.cengage.com/school" target="_blank">K-12/AP* Honors</a><a href="http://academic.cengage.com" target="_blank"></a></li>
			<li><a href="http://www.cengage.com/gale" target="_blank">Library &amp; Reference</a><a href="http://www.nelson.com" target="_blank"></a></li>
			<li><a href="http://www.cengage.com/pro" target="_blank">Professional</a></li>
		</ul>
		<ul class="contact">
			<li class="first"> <a href="http://www.cengage.com/contact/default.aspx" target="_blank">Contact Us</a><a href="http://www.cengage.com/contact/default.aspx" target="_blank"></a></li>
			<li class="last"> <a href="http://www.cengage.com/careers" target="_blank">Careers</a><a href="http://tbe.taleo.net/NA1/ats/careers/jobSearch.jsp?org=LEARNING&amp;cws=1" target="_blank"></a></li>
		</ul>
		<ul class="legal">
			<li class="first"><a href="http://www.cengage.com/content/footer/copyright_notices.aspx" target="_blank">Copyright Notices</a><a href="http://www.cengage.com/content/footer/privacy_statement.aspx" target="_blank"></a></li>
			<li><a href="http://www.cengage.com/content/footer/terms_of_use.aspx" target="_blank">Terms of Use</a><a href="http://www.cengage.com/content/footer/terms_of_use.aspx" target="_blank"></a></li>
			<li><a href="http://www.cengage.com/content/footer/privacy_statement.aspx" target="_blank">Privacy Statement</a><a href="http://www.cengage.com/content/footer/copyright_notices.aspx" target="_blank"></a></li>
		</ul>
		<ul class="legal">
			<li class="first">*AP is a registered trademark of the College Board, which was not involved in   the production of and does not endorse this web site.</li>
		</ul>
	</div>
</div>
<div id="select-a-chapter" style="display: none;">
	<div id="chapter-popup-header">
		<h4>Select a Chapter</h4>
		<div id="chapter-popup-close"> <img src="site_support/images/button-close.gif" alt="Close Popup" /> </div>
	</div>
	<div id="popup-chapters">
		<ul id="left-chapter-column" class="select-chapter leftside">
			<li><a href="#/1">
				<div class="chapter-number">1</div>
				<div class="separator">&#8226;</div>
				<div class="chapter-title">The Ancient Near East: The First Civilizations</div>
				</a></li>
			<li><a href="#/2">
				<div class="chapter-number">2</div>
				<div class="separator">&#8226;</div>
				<div class="chapter-title">The Hebrews: A New View of God and the Individual
</div>
				</a></li>
		</ul>
		<ul id="right-chapter-column" class="select-chapter rightside">
			<li><a href="#/3">
				<div class="chapter-number">3</div>
				<div class="separator">&#8226;</div>
				<div class="chapter-title">The Greek City-State: Democratic Politics
</div>
				</a></li>
		</ul>
	</div>
</div>
<div id="backgroundPopup"></div>
