<!-- This wrapper floats the center content for the entire page -->

<div id="layoutContainer">
<!--The header contains a corporate logo and support navigation -->
<div id="header">
	<div id="headerwrapper" >
		<div id="logo"> <a href="http://www.cengage.com/highered/" target="_blank" title="Cengage Learning"><img src="site_support/images/logo_header.png" /></a> </div>
		<div id="support-nav">
			<ul>
				<li><a href="http://www.cengage.com/support/" target="_blank" title="Technical Support">24/7 Support</a></li>
				<li><a href="" style="padding:0;margin:0" target="_blank"><img align="absbottom" border="none" src="site_support/images/orangearrow.gif" /></a> <a style="padding:0;margin:0" href="" target="_blank">Tell us what you think!</a></li>
			</ul>
		</div>
	</div>
</div>
<!--End header area-->
<div id="home-nav" >
	<div class="inside">
		<ul id="resource">
			<li><a href="#home" class="location-id">HOME</a></li>
			<li class="premium-button"><a href="#ebook" class="popup">EBOOK</a></li>
			<li class="premium-button"><a href="#research" class="popup">RESEARCH GUIDE</a></li>
		</ul>
	</div>
</div>
<div id="roundedTopBorder"> <img src="site_support/images/toproundedcorner.gif" /> </div>
<!-- The body is centered with set width of 952 pixels and a 12px border -->
<div id="container-inner">
<div id="left-side">
<div id="bookInfo" class="leftNavBoxes" style="margin-top:30px;"> <img src="site_support/images/artStudy.jpg"/> </div>
<div id="studyTool" class="leftNavBoxes"> <span class="leftNavHeadings" >Browse for a Study Tool</span><br>
	<br>
	<select name="categories" disabled>
		<option value="none">Not Available in Demo</option>
	</select>
</div>
<div id="chapterSelect" class="leftNavBoxes">
	<div><span class="leftNavHeadings">Select Chapters</span>
		<ul>
			<li class="selected" style="padding:2px 11px 3px 11px;margin:0">1-6</li>
			<li class="inactive" style="padding:2px 7px 3px 7px;">7-12</li>
			<li class="inactive">13-18</li>
			<li class="inactive">19-24</li>
			<li class="inactive">25-30</li>
			<li class="inactive">31-36</li>
		</ul>
	</div>
</div>
<div id="chapterNav" >
	<ul id="side-menu">
		<li class="inactive">1. Art Before History</li>
		<li class="inactive">2. The Ancient Near East</li>
		<li class="inactive">3. Egypt Under the Pharaohs</li>
		<li class="inactive">4. The Prehistoric Aegean</li>
		<li class="top-level"> <a href="#review" class="main-option">5. Ancient Greece</a>
			<ul class="inner-menu">
				<li><span><a href="#flashcards"><img src="site_support/images/flashcardicon.gif" align="absmiddle"> Flashcards </a></span></li>
				<li><span><a href="#images"><img src="site_support/images/bonusimagesicon.gif" align="absmiddle"> Bonus Images </a><img style="padding-left:98px"  src="site_support/images/bluelock.gif" ></span></li>
				<li><span><a href="#tools"><img src="site_support/images/studytoolsicon.png" align="absmiddle"> Audio/Video Study Tools </a><img style="padding-left:43px" src="site_support/images/bluelock.gif" ></span></li>
				<li><span><a href="#objectives"><img src="site_support/images/learningobjectivesicons.gif" align="absmiddle"> Learning Objectives </a></span></li>
				<li><span><a href="#quizzes"><img src="site_support/images/quizzesicon.gif" align="absmiddle"> Quizzes </a></span></li>
				<li><span><a href="#activities"><img src="site_support/images/activitiesicon.gif" align="absmiddle"> Activities and Tutorials </a><img style="padding-left:50px" src="site_support/images/bluelock.gif" ></span></li>
				<li><span><a href="#timeline"><img src="site_support/images/timelineicon.gif" align="absmiddle"> Interactive Timeline </a></span></li>
				<li><span><a href="#maps"><img src="site_support/images/googleicon.gif" align="absmiddle"> Google Earth and Maps </a></span></li>
				<li><span><a href="#glossary"><img src="site_support/images/glossaryicon.gif" align="absmiddle"> Glossary </a></span></li>
				<li><span><a href="#links"><img src="site_support/images/weblinksicon.png" align="absmiddle"> Web Links </a></span></li>
			</ul>
		</li>
		<li class="inactive">6. South & Southeast Asia Before 1200 </li>
	</ul>
</div>
<!---End chap nav -->
			</div><!--End left-side -->
			<!--- body zone --->
			<div id="content">
            	<div id="masthead"><img src="site_support/images/masthead.jpg"  /> </div>
                <div id="chapter-title"><span></span></div>
                <div id="breadcrumbs"><span></span></div>
 				
				<!-- Home Page -->
				<div id="home-page" class="main">
					<br />
					<br />
					<br />
					Home Page content goes here
					<!--<div id="welcome" class="wide-welcome">
						<div id="asset-buttons">
							<ul>
								<li class="asset-info review"> <img src="site_support/images/button_review.gif" alt="Review & Practice" /> <span><a href="#review/1" title="Review & Practice">Review & Practice</a></span>
									<div class="popupdiv">
										<div class="shapediv" id="review-popup"></div>
									</div>
								</li>
								<li class="asset-info test_prep"> <img src="site_support/images/button_test_prep.gif" alt="Test Prep" /> <span><a href="#test_prep/1" title="Test Prep">Test Prep</a></span>
									<div class="popupdiv">
										<div class="shapediv" id="test-prep-popup"></div>
									</div>
								</li>
							</ul>
						</div>
                        
					</div>
					<div id="marketing"> </div>-->
				</div>
                	
                <div id="content-page" class="main">
				<!-- Title -->
				<!--<div id="content-heading">
					<div id="chapter-heading">
						<div class="chapter-number">Chapter N</div>
						<div class="separator">&#8226;</div>
						<div class="chapter-title">Chapter Title</div>
					</div>
					<div id="asset-title">Bucket Title</div>
				</div>-->
				
				<!--<div id="bucket-content">
					<div class="bucket-description">
						<div id="bucket-image"><img src="bucket_name.jpg" alt="Bucket Name" /></div>
						<div id="bucket-blurb">Bucket blurb.</div>
					</div>
					<div id="asset-list"> </div>
				</div>-->
				
				<div id="asset-content">
					<!--<div id="asset-blurb">Blurb for asset goes here</div>-->
					<div id="asset-text" class="asset-content"> </div>
				</div>
			</div>
			<div id="content-error" class="main"> </div>
           </div>

			<!--- left navigation zone --->
			<div id="clearmain">&nbsp;</div>
		<!--- end of main content area --->
		</div>

		<!-- The footer -->
		<div id="footer">
			<div class="left">
				<ul class="hmenu">
					<li class="first" >
						<a href="http://www.cengage.com/" style="color:#ffffff;text-decoration:none">Cengage Learning</a> &nbsp;&nbsp;			
					</li>
                    <li class="first"><a href="http://www.cengage.com/content/footer/terms_of_use.aspx">Terms of Use</a></li>
					<li ><a href="http://www.cengage.com/content/footer/privacy_statement.aspx">Privacy Statement</a></li>
				</ul>		
			</div>
			<!-- end footer -->
            
		</div>
        
		<!--- End Wrapper --->
	</div>


<div id="select-a-chapter" style="display: none;">
	<div id="chapter-popup-header">
		<h4>Select a Chapter</h4>
		<div id="chapter-popup-close"> <img src="site_support/images/button-close.gif" alt="Close Popup" /> </div>
	</div>
	<div id="popup-chapters">
		<ul id="left-chapter-column" class="select-chapter leftside">
			<li><a href="#/1">
				<div class="chapter-number">1</div>
				<div class="separator">&#8226;</div>
				<div class="chapter-title">The Ancient Near East: The First Civilizations</div>
				</a></li>
			<li><a href="#/2">
				<div class="chapter-number">2</div>
				<div class="separator">&#8226;</div>
				<div class="chapter-title">The Hebrews: A New View of God and the Individual
</div>
				</a></li>
		</ul>
		<ul id="right-chapter-column" class="select-chapter rightside">
			<li><a href="#/3">
				<div class="chapter-number">3</div>
				<div class="separator">&#8226;</div>
				<div class="chapter-title">The Greek City-State: Democratic Politics
</div>
				</a></li>
		</ul>
	</div>
</div>
<div id="backgroundPopup"></div>

