<!-- This wrapper floats the center content for the entire page -->

<div id="layoutContainer">
<!--The header contains a corporate logo and support navigation -->
<div id="header">
	<div id="headerwrapper" >
		<div id="logo"> <a href="http://www.cengage.com/highered/" target="_blank" title="Cengage Learning"><img src="site_support/images/logo_header.png" /></a> </div>
		<div id="support-nav">
			<ul>
				<li><a href="http://www.cengage.com/support/" target="_blank" title="Technical Support">24/7 Support</a></li>
				<li><a href="http://cengage.qualtrics.com/SE?SID=SV_01m5KCjMBDN8OMc&SVID=Prod" style="padding:0;margin:0" class="popup"><img align="absbottom" border="none" src="site_support/images/orangearrow.gif" /></a> <a style="padding:0;margin:0" href="http://cengage.qualtrics.com/SE?SID=SV_01m5KCjMBDN8OMc&SVID=Prod" class="popup">Tell us what you think!</a></li>
               
			</ul>
		</div>
	</div>
</div>
<!--End header area-->
<div id="home-nav" >
		<ul id="resource">
			<li class="first"><a href="#home" class="location-id">HOME</a></li>
			 <li class="premium-button protected" ><a href="#ebook" class="popup vpg-ebook">EBOOK</a></li>
             <li class="premium-button"><a href="#research" class="popup research-guide">RESEARCH GUIDE</a></li>
              <li class="premium-button"><a href="#glossary" class="popup">GLOSSARY</a></li>
		</ul>
</div>
<div id="roundedTopBorder"> <img src="site_support/images/toproundedcorner.gif" /> </div>
<!-- The body is centered with set width of 952 pixels and a 12px border -->
<div id="container-inner">
	<div id="left-side">
		<div id="bookInfo" class="leftNavBoxes" style="margin-top:30px;"> <img src="site_support/images/artStudy.jpg"/> </div>
		<div id="studyTool" class="leftNavBoxes"> 
       		 <ul>
        		<li><strong>Browse:</strong></li>
        		<li class="active">This Chapter</li>
        		<li>All Chapters</li>
       		 </ul>
		</div>
		<div id="chapterSelect" class="leftNavBoxes">
			<div class="leftNavHeadings"><img src="site_support/images/prevb.jpg" align="absmiddle" style="padding:0 10px 3px 0" /><span style="cursor:default" title="inactive for demo">Select Chapter</span><img style="padding:0 0 3px 10px" src="site_support/images/nextb.jpg" align="absmiddle"/></div>
		</div>
        
		<div id="chapterNav" >
			<ul id="side-menu">
               <li class="top-level"> <a href="#home" class="main-option">5. Ancient Greece</a>
               		<ul class="inner-menu">
                    	<li><span><img src="site_support/images/flashcardicon.gif" align="absmiddle" class="assetimages"><a href="#flashcards" >Flashcards</a></span></li>
                        <li class="protected"><span ><img src="site_support/images/bonusimagesicon.gif" align="absmiddle" class="assetimages"><a href="#images">Bonus Images</a></span></li>
                        <li class="protected"><span ><img src="site_support/images/studytoolsicon.png" align="absmiddle" class="assetimages"><a href="#tools">Audio/Video Study Tools</a></span></li>
                        <li><span><img src="site_support/images/learningobjectivesicons.gif" align="absmiddle" class="assetimages"><a href="#objectives" >Learning Objectives</a></span></li>
                        <li><span><img src="site_support/images/quizzesicon.gif" align="absmiddle" class="assetimages"><a href="#quizzes">Quizzes</a></span></li>
                        <li ><span><img src="site_support/images/activitiesicon.gif" align="absmiddle" class="assetimages"><a href="#activities">Activities and Tutorials</a></span></li>
                        <li class="protected"><span ><img src="site_support/images/timelineicon.gif" align="absmiddle" class="assetimages"><a href="#timeline">Interactive Timeline</a></span></li>
                        <li><span><img src="site_support/images/googleicon.gif" align="absmiddle" class="assetimages"><a href="#google">Google Earth and Maps</a></span></li>
                        <li><span><img src="site_support/images/glossaryicon.gif" align="absmiddle" class="assetimages"><a href="#chapter_glossary">Chapter Glossary</a></span></li>
                        <li><span><img src="site_support/images/weblinksicon.png" align="absmiddle" class="assetimages"><a href="#links">Web Links</a></span></li>
              		</ul>
          	  </li>
         </ul>
      </div><!---End chap nav -->
	</div><!--End left-side -->
			<!--- body zone --->
			<div id="content">
            	<div id="masthead"><img src="site_support/images/masthead.jpg"  /> </div>
                
                <div id="breadcrumbs"><span></span></div>
 				<div id="content-rtop"> <img src="site_support/images/roundgreytopcorner.jpg" /> </div>
				<!-- Home Page -->
				<div id="home-page" class="main">
                	
  <div id="home">
<div id="hometext">
<div class="heading">ArtStudy Online is an essential study resource featuring:</div>

<ul>
  <li>Over 300 bonus images with discussion by the author</li>
  <li>Image and audio pronunciation flashcards</li>
  <li>Video study tools and audio chapter summaries</li>
  <li>Interactive timeline</li>
  <li>Google maps</li>
  <li>Practice quizzes and more</li>
</ul>

<p>Premium assets are denoted by a lock icon <img src="site_support/images/lock_home.jpg" width="20" height="19" alt="lock icon" align="texttop"/><br />
Please sign in below to view a protected resource.</p>

</div>

<div id="entryNav">
<div class="option"><span class="optiontext">Returning users</span>
<div id="button"><a href="http://www.cengage.com/login" target="_blank" class="blue">Sign in</a></div>
</div>

<div class="option"><span class="optiontext">First time users</span>
<div id="button"><a href="http://www.cengage.com/login" target="_blank" class="blue">Register</a></div>
</div>

<div class="option"><span class="optiontext">Purchase access</span>
<div id="button"><a href="http://www.ichapters.com/tl1/en/US/storefront/ichapters?cmd=catAdvancedSearch&&fieldValue=kleiner&fieldName=All&OP=search&sortBy=null&showBrowseAllLink=null&UserPageSize=15" class="blue"  target="_blank">Buy online</a></div>
</div>

<div class="option"><span class="optiontext">Instructor access</span>
<div id="buttonInstr"><a href="http://login.cengage.com/sso/usertype.do" class="orange" target="_blank">Request</a></div>
</div></div></div>			
</div>
                	
                <div id="content-page" class="main">
				<!-- Title -->
				<!--<div id="content-heading">
					<div id="chapter-heading">
						<div class="chapter-number">Chapter N</div>
						<div class="separator">&#8226;</div>
						<div class="chapter-title">Chapter Title</div>
					</div>
					<div id="asset-title">Bucket Title</div>
				</div>-->
				
				<div id="bucket-content">
					<!--<div class="bucket-description">
						<div id="bucket-image"><img src="bucket_name.jpg" alt="Bucket Name" /></div>
						<div id="bucket-blurb">Bucket blurb.</div>
					</div>
					<div id="asset-list"> </div>-->
					<div id="bucket-tabs">
						<ul>
							<!--<li><a href="#tab_1"><span>Label 1</span></a></li>
							<li><a href="#tab_2"><span>Label 2</span></a></li>-->
						</ul>
					</div>
				</div>
				
				<div id="asset-content">
					<!--<div id="asset-blurb">Blurb for asset goes here</div>-->
					<div id="asset-text" class="asset-content"> </div>
					<div id="asset-tabs">
						<ul>
							<li><a href="#tabs-menu"><span>Menu</span><span class="protected">&nbsp;</span></a></li>
							<li><a href="#tabs-asset"><span>Image</span><span class="protected">&nbsp;</span></a></li>

						</ul>
						<div id="tabs-menu"></div>
						<div id="tabs-asset"></div>
					</div>
				</div>
			</div>

			<div id="content-error" class="main"> </div>
            <div id="content-rbottom" > <img src="site_support/images/roundgreybottomcorner.jpg" /> </div>
           </div>

			<!--- left navigation zone --->
			<div id="clearmain">&nbsp;</div>
		<!--- end of main content area --->
        
		</div>

		<!-- The footer -->
		<div id="footer">
			<div class="left">
				<ul class="hmenu">
					<li class="first" >
						<a href="http://www.cengage.com/" style="color:#ffffff;text-decoration:none">Cengage Learning</a> &nbsp;&nbsp;			
					</li>
                    <li class="first"><a href="http://www.cengage.com/content/footer/terms_of_use.aspx">Terms of Use</a></li>
					<li ><a href="http://www.cengage.com/content/footer/privacy_statement.aspx">Privacy Statement</a></li>
				</ul>		
			</div>
			<!-- end footer -->
            
		</div>
        
		<!--- End Wrapper --->
	</div>


<div id="select-a-chapter" style="display: none;">
	<div id="chapter-popup-header">
		<h4>Select a Chapter</h4>
		<div id="chapter-popup-close"> <img src="site_support/images/button-close.gif" alt="Close Popup" /> </div>
	</div>
	<div id="popup-chapters">
		<ul id="left-chapter-column" class="select-chapter leftside">
			<li><a href="#/1">
				<div class="chapter-number">1</div>
				<div class="separator">&#8226;</div>
				<div class="chapter-title">The Ancient Near East: The First Civilizations</div>
				</a></li>
			<li><a href="#/2">
				<div class="chapter-number">2</div>
				<div class="separator">&#8226;</div>
				<div class="chapter-title">The Hebrews: A New View of God and the Individual
</div>
				</a></li>
		</ul>
		<ul id="right-chapter-column" class="select-chapter rightside">
			<li><a href="#/3">
				<div class="chapter-number">3</div>
				<div class="separator">&#8226;</div>
				<div class="chapter-title">The Greek City-State: Democratic Politics
</div>
				</a></li>
		</ul>
	</div>
</div>
<div id="backgroundPopup"></div>

