<div class="helpLink"><a href="/coursemate/shared/help/download_help.html" class="popup">Help Accessing<br />
This Resource</a></div>
<div class="instructions download"></div>
<div id="playercontainer" class="playercontainer"><a id="player" class="player" href="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash">Get the Flash Player to play this audio</a></div>
<div id="[%name%]MediaArea">
	<div class="transcriptPane">
		<div class="transcriptText"></div>
	</div>
	<div class="transcriptToggle"><span><a class="viewTranscript" href="javascript: void(0)">View Transcript</a></span></div>
	<div class="mediaText">
		<div class="mediaOptions">
			<div><span class="downloadMedia"><a href="[%urlNoExtension%].[%mediaOptions.downloadMediaExt%]">Download Audio</a> </span><span class="downloadTranscript"><a href="[%urlNoExtension%].[%mediaOptions.downloadTranscriptExt%]">Download Transcript</a></span></div>
		</div>
	</div>
</div>
