<div id="helpLink"><a href="#">Help With<br />
This Resource</a></div>
<!--<div class="downloadInstructions">Click the image to view the document. To download the document, right click (ctrl-click on the Mac) and select "Save target" or "Save link." If you cannot open this document, install the latest version of <a class="popup showAll" href="http://get.adobe.com/reader/">Adobe Reader</a>.</div>
-->
<div align="center">
<a href="[%url%]" class="download"><br />
<img src="images/shared/download_logo.jpg" alt="View Document" class="downloadImage" /><br />
<br />
</a></div>
<div class="popupLinks">
<a href="[%url%]" class="download">Access PDF Material for this Chapter</a>
</div>
