<div class="instructions"><h3>Download Course Materials</h3>
<p>Download course materials to increase your understanding of the materials covered in this program.</p>
<p>Content on this page may require additional software to view.
If you do not have Adobe <sup>&reg;</sup> Reader, click <a class="popup showAll" href="http://get.adobe.com/reader/">here</a> to install.</p> </div>
<div align="center">
<a href="[%url%]"><img src="images/shared/download.gif" alt="download" width="300" height="211" hspace="10" vspace="10" class="ebookImage" /></a></div>
<div class="popupLinks">
<a href="[%url%]"> Download
</a></div>
