<!--<div class="downloadInstructions">Click a link to view a document. To download a document, right click (ctrl-click on the Mac) and select "Save target" or "Save link." If you cannot open the document, install the latest version of <a class="popup showAll" href="http://get.adobe.com/reader/">Adobe Reader</a>.</div>
-->
<div>
<div id="helpLink"><a href="#">Help Accessing<br />
This Resource</a></div>
	<!--<div class="[%section.extension%]">-->
	<div class="pdf"> 
	[%beginSection%] 
	<a href="[%section.url%]" class="[%section.extension%]" target="_blank">[%section.title%]</a>
	[%endSection%] 
	</div>
<!--    <div class="pdfList">
            [%beginSection%]
                <div class="icon"></div>
                <div class="downloadList"><a href="[%section.url%]" class="download">[%section.title%]</a></div>
            [%endSection%]
    </div>
 	[%beginSection%]
    	<a href="[%section.url%]" class="pdflist" target="_blank">[%section.title%]</a>
  	[%endSection%]
-->
</div>

