<div id="rgtInnerWrap">
<div id="assetHeading"></div>
<div class="helpLink"><a href="/coursemate/shared/help/google_help.html" class="popup">Help Installing<br />
Google Earth</a></div>
<div id="innerContent">
    	<span>Virtually visit the key locations in Google Earth&trade;.</span></div>

  <div class="assetSplit" id="gearthImg"></div>
  <div class="assetSplit" id="gearthDesc">
         <a href="http://earth.google.com" target="_blank"><img width="160" height="48" src="images/shared/download_earth.gif" alt="Google Earth" /></a> 
         <p>Google Earth&trade; coordinates can interactively take you to locations found throughout the text! To visit these key locations virtually, follow the links listed below.</p>

<br />
  </div>

  <div id="contentContainer">

<ul>
	[%beginSection%]
		<li class="coords"><a href="[%section.url%]">[%section.title%]</a></li>
	[%endSection%]
</ul>

  </div>
</div>

</body>
</html>
