<div class="helpLink"><a href="/coursemate/shared/help/itunes_help.html" class="popup">Help Installing<br />
Apple iTunes</a></div><br />


 <a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewIMix?id=[%isbnCore%]" target="_blank"><img src="images/shared/itunes_screenshot.jpg" alt="" id="itunes" /></a><a href="http://www.apple.com/itunes/affiliates/download/" target="_blank"><img width="137" height="41" src="images/shared/itunes_download_btn.jpg" alt="iTunes" id="itunesBtn" /></a>
         <p>Start building your French music collection with an iTunes playlist&reg; created specifically for the Sur le vif, Fifth Edition program. It's a fun, easy way to get a leg-up in class, improve your accent and get connected to French and francophone culture.</p> 
         <p><a href="http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewIMix?id=[%isbnCore%]" target="_blank">Open Heinle Playlist</a></p>

