<!-- Chapter title added dynamically -->
<div class="currentChapter leftNavBoxes">
	<div></div>
</div>
<!-- Chapter Navigation -->
<div class="chapterSelectWrapper leftNavBoxes">
	<div class="leftNavHeadings">
		<div class="previousChapter inactive">&nbsp;</div>
		<div class="selectChapter">Select Chapter</div>
		<div class="active nextChapter">&nbsp;</div>
	</div>
</div>
<!-- Buttons for selecting Chapter View -->
<div class="chapterView leftNavBoxes">
	<ul>
		<li class="noHover"><strong>Browse:</strong></li>
		<li class="thisChapter selected">This Chapter</li>
		<li class="allChapters">All Chapters</li>
	</ul>
</div>
