<div class="login">
	<div class="loginHeading home">Protected premium resources are denoted by a lock icon <img src="images/shared/lock_home.gif" width="20" height="19" alt="lock icon" align="texttop"/>.<br />
		Please sign in below to view a protected resource.</div>
	<div class="loginHeading asset">To access this Premium Resource you must log in.<br />
		Please select one of the options below:</div>
	<div id="login">
		<div class="loginOption">Returning users
			<div class="loginButton"><a href="http://www.cengage.com/login">Sign in</a></div>
		</div>
		<div class="loginOption">First time users
			<div class="loginButton"><a href="http://www.cengage.com/login">Register</a></div>
		</div>
		<div class="loginOption">Purchase access
			<div class="loginButton"><a class="buy-online" href="" target="_blank">Buy online</a></div>
		</div>
		<div class="loginOption">Instructor account
			<div class="buttonInstr"><a href="http://login.cengage.com/cb/" class="orange">Request</a></div>
		</div>
	</div>
</div>
