<div class="downloadInstructions">Click a link to download a PowerPoint presentation. If you cannot view the file, install the latest version of <a class="popup showAll" href="http://www.microsoft.com/downloads/en/default.aspx">Microsoft Powerpoint Viewer</a>.</div>
<div>
    <div class="pptList">
            [%beginSection%]
                <div class="icon"></div>
                <div class="downloadList"><a href="[%section.url%]" class="download">[%section.title%]</a></div>
            [%endSection%]
    </div>
</div>
