<!-- Studious Template for 4LTR Web Site Shell -->
<!-- This wrapper floats the center content for the entire page -->

<div id="layoutContainer">
  <!--The header contains a corporate logo and support navigation -->
  <div id="header">
    <div id="headerwrapper" >
      <div id="supportNav">
        <ul>
          <li><a href="http://www.cengage.com/support/" target="_blank" title="Technical Support"><img align="absbottom" src="images/4ltr/small_arrow.png" class="suppArrow" alt="technical support" /></a>&nbsp;&nbsp;<a href="http://www.cengage.com/support/" target="_blank" title="Technical Support">24/7 Support</a></li>
        </ul>
      </div>
    </div>
    <!--End header area-->
    <!-- Body -->
    <!--- end of main content area --->
  </div>
  <!-- Top Nav Bar containing links to Home and popup assets -->
  <div id="navBar" >
    <!-- Links added dynamically to this ul -->
    <ul id="navItems">
    </ul>
  </div>
  <div id="containerInner">
<div id="homeImage">
      <div id="leftSide">
      <div id="bookInfoWrapper" class="leftNavBoxes"></div>
      <!-- Chapter Navigation -->
      <div class="chapterSelectWrapper leftNavBoxes">
        <div class="leftNavHeadings"> <span class="previousChapter inactive">&nbsp;</span> <span class="selectChapter">&nbsp;Select Chapter&nbsp;</span> <span class="nextChapter inactive">&nbsp;</span> </div>
      </div>
      <!-- Chapter title added dynamically -->
      <div class="currentChapter leftNavBoxes">
        <div>
        </div>
      </div>
        <!-- Buttons for selecting Chapter View -->
           <div class="chapterView">
              <ul>
                <li class="noHover"><strong>Browse:</strong></li>
                <li class="thisChapter selected">This Chapter</li>
                <li class="allChapters">All Chapters</li>
              </ul>
            </div>
      <!-- Side Menu -->
      <div class="sideMenuWrapper">
        <!-- Menu options added dynamically -->
        <ul class="sideMenu">
        </ul>
      </div>
    </div>      

    <!-- Home Page -->
    <div id="homePage" class="homeMain">
      <div id="homeTop">
	  	<!-- Site name added dynamically -->
        <div id="homeTopLeft">
        	<div id="logoText"></div>
        </div>
        <div class="homeTopRight">
        <div class="txtBoxTop"></div>
          <div class="txtBoxMain">
		  	<!-- Home Page text added dynamically -->
            <div class="txtBoxCopy"></div>
          </div>
          <div class="txtBoxBtm"></div>
         </div>
      </div>
     
      <div id="home">
        <div id="hometext">
          <div id="homeIntro"></div>
        </div>
      </div>
    </div>
    <!-- Main Page Area -->
    <div id="mainArea">
      <div id="breadcrumbs"><span></span></div>
      <div id="contentRtop"></div>
      <div id="contentArea" class="main">
        <div id="bucketContent">
          <div id="bucketTabs">
            <ul>
            </ul>
          </div>
        </div>
        <div id="assetContent">
          <div id="assetText" class="assetContent"> </div>
          <div id="assetTabs">
            <ul>
              <li><a href="#tabsMenu"><span id="menuTab">Menu</span><span class="protected">&nbsp;</span></a></li>
              <li><a href="#tabsAsset"><span id="contentTab">Content</span><span class="protected">&nbsp;</span></a></li>
            </ul>
            <div id="tabsMenu"></div>
            <div id="tabsAsset"></div>
          </div>
        </div>
      </div>
      <div id="contentError" class="main"> </div>
      <div id="contentRbottom" >
        <!--<img src="images/4ltr/roundgreybottomcorner.jpg" alt="" /> -->
      </div>
    </div>
    <!--- left navigation zone --->
    <div id="clearmain">&nbsp;</div>

    <!--- End Wrapper --->
  </div></div>
  <!-- The footer -->
  <div id="footer">
    <div id="footGradient">
      <div id="footGradLeft"><img src="images/4ltr/4ltr_logo.png" alt="Topic Logo" /></div>
      <div id="footGradRight"><a href="http://4ltrpress.cengage.com" target="_blank">Learn more about<br />
        4LTR Press</a></div>
    </div>
    <ul class="footerNav">
      <li class="first"><a href="http://www.cengage.com/">Cengage Learning</a></li>
      <li class="first"><a href="http://www.cengage.com/content/footer/terms_of_use.aspx">Terms of Use</a></li>
      <li><a href="http://www.cengage.com/content/footer/privacy_statement.aspx">Privacy Statement</a></li>
      <li class="last"><img src="images/4ltr/cl_logo.jpg" alt="topic logo" /></li>
    </ul>
  </div>
  <!-- end footer -->
  <div id="chapterMenu">
    <div id="chapterMenuHeader">
      <div id="chapterMenuLabel">Select a Chapter</div>
      <div id="closeChapterMenu"> <img src="images/4ltr/button-close.png" alt="Close Chapter Menu" /></div>
    </div>
    <!-- Chapter Menu options added dynamically -->
    <div id="chapterList"></div>
  </div>
  <div id="backgroundPopup"></div>
</div>
