<!-- Studious Template for Premium Web Site Shell -->
<!-- This wrapper floats the center content for the entire page -->

<div id="layoutContainer">
  <!--The header contains a corporate logo and support navigation -->
  <div id="header">
    <div id="headerwrapper" >
      <div id="logo">
        <div id="logoForeground"><a href="http://www.cengage.com/highered/" target="_blank" title="Cengage Learning"><img src="" alt="cengage learning logo" /></a></div>
      </div>
      <div id="supportNav">
        <ul>
          <li><a href="http://www.cengage.com/support/" target="_blank" title="Technical Support">24/7 Support</a></li>
          <li id="survey"><a href="" class="popup"><img align="absbottom" border="none" src="images/premium/orangearrow.gif" alt="take a survey"/></a> <a href="http://cengage.qualtrics.com/SE?SID=SV_01m5KCjMBDN8OMc&SVID=Prod" class="popup">Tell us what you think!</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!--End header area-->
  <!-- Top Nav Bar containing links to Home and popup assets -->
  <div id="navBar" >
    <!-- Links added dynamically to this ul -->
    <ul id="navItems">
    </ul>
  </div>
  <!--	<div id="roundedTopBorder"><img src="images/premium/toproundedcorner.gif" /> </div>-->
  <!-- Body -->
  <!-- Come up with better names for these divs -->
  <div id="roundedTopBorder">&nbsp;</div>
  <div id="containerInner">
    <div class="" id="leftSide">
      <div id="accordionMenu"> </div>
    </div>
    <!-- Main Page Area -->
    <div id="mainArea">
      <div id="masthead"><img src="[%siteDirs.images%]/masthead.jpg" alt="Banner Image" /></div>
      <div id="breadcrumbs"><span></span></div>
      <div id="contentRtop"> <img src="images/premium/roundgreytopcorner.jpg" alt="" /></div>
      <!-- Home Page -->
      <div id="homePage" class="main">
        <div id="home"><img src="images/resource_center/home_page_top.jpg" alt="" width="665" height="10" />
          <div id="hometext">
            <div id="bookInfoWrapper">
              <!-- Bibliographic info added dynamically -->
              <div id="bookThumb"></div>
              <div id="bookInfo">
                <div id="bookTitle"></div>
                <div id="bookSubtitle"></div>
                <div id="edition"></div>
                <div id="author"></div>
              </div>
              <div class="clear"></div>
            </div>
            <div id="homeIntro"></div>
          </div>
          <div id="homeImage"><img src="[%siteDirs.images%]/home_page.jpg" id="homePageImg" alt=""/><img height="15" width="665" alt="" src="images/resource_center/home_page_btm.jpg" id="homeImageBtm"/> </div>
        </div>
        <div id="homeLogin">
        </div>
      </div>
      <div id="contentArea" class="main">
        <div id="bucketContent">
          <div id="bucketTabs">
            <ul>
            </ul>
          </div>
        </div>
        <div id="assetContent">
          <!--<div id="assetBlurb">Blurb for asset goes here</div>-->
          <div id="assetText" class="assetContent"> </div>
          <div id="assetTabs">
            <ul>
              <li><a href="#tabsMenu"><span id="menuTab">Menu</span><span class="protected">&nbsp;</span></a></li>
              <li><a href="#tabsAsset"><span id="contentTab">Content</span><span class="protected">&nbsp;</span></a></li>
            </ul>
            <div id="tabsMenu"></div>
            <div id="tabsAsset"></div>
          </div>
        </div>
      </div>
      <div id="contentError" class="main"> </div>
      <div id="contentRbottom" > <img src="images/premium/roundgreybottomcorner.jpg" alt="" /> </div>
    </div>
    <!--- left navigation zone --->
    <div id="clearmain">&nbsp;</div>
    <!--- end of main content area --->
  </div>
  <!-- The footer -->
  <div id="footer">
    <div class="left">
      <ul class="footerNav">
        <li class="first"> <a href="http://www.cengage.com/" id="clLink">Cengage Learning</a> &nbsp;&nbsp; </li>
        <li><a href="http://www.cengage.com/content/footer/terms_of_use.aspx">Terms of Use</a></li>
        <li ><a href="http://www.cengage.com/content/footer/privacy_statement.aspx">Privacy Statement</a></li>
      </ul>
    </div>
    <!-- end footer -->
  </div>
  <!--- End Wrapper --->
</div>
<div id="chapterMenu">
  <div id="chapterMenuHeader">
    <div id="chapterMenuLabel">Select a Topic</div>
    <!--<div id="courseSelectLabel">Change Course:</div>
		<div id="course_select">
			<form name="courseMenu" id="courseMenu">
				<select name="courseMenuSelect" id="courseMenuSelect">
					<option value="#">Counseling</option>
					<option value="#" selected="selected">Social Work</option>
				</select>
			</form>
		</div>-->
    <div id="closeChapterMenu"> <img src="images/premium/button-close.gif" alt="Close Chapter Menu" /> </div>
  </div>
  <!-- Chapter Menu options added dynamically -->
  <div id="chapterList"></div>
</div>
<div id="backgroundPopup"></div>
<div id="loading">
    <img src="/site_engine/css/images/wait.gif" alt="Loader" />
</div>   
