<div id="standaloneContent">
	<div id="mainArea">
		<div id="contentArea" class="standaloneContent">
			<div id="assetContent">
				<div id="assetText" class="assetContent"></div>
				<div id="assetTabs">
					<ul>
						<li><a href="#tabsMenu"><span id="menuTab">Menu</span><span class="protected">&nbsp;</span></a></li>
						<li><a href="#tabsAsset"><span id="contentTab">Content</span><span class="protected">&nbsp;</span></a></li>
					</ul>
					<div id="tabsMenu"></div>
					<div id="tabsAsset"></div>
				</div>
			</div>
		</div>
	</div>
</div>
