<div class="assetHeading download"></div>
<div class="helpLink"><a href="/coursemate/shared/help/download_help.html?panel=3#Accordion1" class="popup">Help Accessing<br />
This Resource</a></div>
<div class="instructions download"></div>
<div id="playercontainer" class="playercontainer"><a id="player" class="player" href="http://www.adobe.com/shockwave/download/download.cgi?P1_Prod_Version=ShockwaveFlash">Get the Flash Player to see this video</a></div>

<div id="[%name%]MediaArea">

	<div class="transcriptPane"><div class="transcriptText"></div></div>
	<div class="transcriptToggle"><span><a class="viewTranscript" href="javascript: void(0)">View Transcript</a></span></div>
	
	<div class="mediaText">
		<ul class="playlistVideo">
			[%beginSection%]
			<li>
				<div>[%section.title%]</div>
				<div class="mediaOptions">
					<div><span><a class="playMedia" href="javascript:void(0)">Play</a></span><span class="downloadMedia"><a href="[%section.urlNoExtension%].[%mediaOptions.downloadMediaExt%]">Download Video</a> </span><span class="downloadTranscript"><a href="[%section.urlNoExtension%].[%mediaOptions.downloadTranscriptExt%]">Download Transcript</a></span></div>
				</div>
			</li>
			[%endSection%]
		</ul>
	</div>
	
</div>
