<div class="downloadInstructions">Download the compressed file and then double-click on the file to extract its content. If you cannot uncompress this file, install the latest version of <a class="popup showAll" href="http://www.winzip.com">WinZIP</a> (Windows) or <a class="popup showAll" href="http://www.winzip.com">StuffIt</a> (Mac).</div>
<div align="center">
<a href="[%url%]" class="download"><img src="images/shared/zip_download.gif" alt="Download" class="downloadImage" /></a></div>
<div class="popupLinks">
<a href="[%url%]" class="download">Download</a>
</div>
